* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;

    padding: 2rem;
}

div {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 1rem 0;
}

ul {
    padding-top: 1rem;
}